/* Estilos globales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*INICIO NAV BAR*/

/* Estilos generales para el encabezado */
header {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7BC200;
  padding: 10px 30px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 80%; 
}

.logo img {
  height: 40px;
}

/* Estilos para la lista de navegación */
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
  position: relative; /* Necesario para que el submenú se posicione en relación al padre */
}

ul li a {
  color: #314a00;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bolder;
}

ul li a:hover {
  color: lightgreen;
}

/* Estilos para el botón del menú hamburguesa */
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Estilos para el submenú */
.dropdown .dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 20px; /* Coloca el submenú justo debajo del elemento padre */
  left: 0;
  background-color: #7BC200; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown .dropdown-menu li {
  margin: 0; 
}

.dropdown .dropdown-menu a {
  color: #314a00;
  padding: 10px 20px; /* Espacio interno en los enlaces del submenú */
  display: block; /* Hace que los enlaces ocupen todo el ancho disponible */
  transition: background-color 0.3s ease;
}

.dropdown .dropdown-menu a:hover {
border-radius: 8px;
  background-color: #314a00; /* Color de fondo al pasar el ratón */
}

/* Mostrar el submenú cuando se pasa el mouse por encima del .dropdown o .dropdown-menu */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Muestra el submenú */
}

/* Para asegurar que el submenú se mantenga visible al interactuar */
.dropdown-menu:hover {
  display: block;
}

.nav-links a:hover {
  color: white; /* Cambia el color al pasar el ratón por encima */
}

/* Estilos para el visor de tarifas */
#visorTarifas {
  display: none;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-height: 80%; /* Limita la altura máxima para evitar que la ventana sea demasiado grande */
  overflow: auto; /* Permite el desplazamiento cuando la imagen es más grande que el contenedor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

#visorTarifas img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

#visorTarifas .cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#visorTarifas button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

#visorTarifas::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    border-radius: 100px 0px 0px 100px;
    position: fixed;
    top: 80px;
    right: -100%;
    background-color:#7BC200;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 10000;
  }

  ul li {
    margin: 20px 0;
    text-align: center;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }

.dropdown .dropdown-menu {
    display: none;
    position: relative;
    top: 0px;
    right: 0px;
    box-shadow: none;
    border-radius: 0%;
  }
  
  .dropdown .dropdown-menu li {
    margin: 0; 
  }
  
  .dropdown .dropdown-menu a {
    color: #314a00;
    display: block; 
    transition: none;
  }
  
  .dropdown .dropdown-menu a:hover {
    border-radius: none;
    background-color: #466B00; 
    transition: 0.3s;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/*FIN NAV BAR*/

/* Sección de Información de Contacto */
.contact-info {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-item {
    flex: 1 1 30%;
    margin: 10px;
    padding: 10px;
}

.contact-item i {
    font-size: 2rem;
    color: #7BC200;
}

.contact-item h3 {
    margin: 10px 0;
}

/* Sección del Formulario de Contacto */
.contact-form {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button[type="submit"] {
    background-color: #7BC200;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #466B00;
}

/* Sección del Mapa */
.map {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.map-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    position: relative;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*INICIO FOOTER*/

.site-footer {
    background-color: #7BC200;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en múltiples líneas */
    justify-content: space-between;
    color: #ffffff;
    text-align: center; 
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
    min-width: 200px; /* Asegura que las secciones no se vuelvan demasiado pequeñas */
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .social-links {
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-links li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links li a:hover {
    text-decoration: underline;
  }
  
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    width: 80%; /* Reduce el ancho para pantallas pequeñas */
    max-width: 500px; /* Máximo ancho en pantallas grandes */
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #7BC200;
    transition: opacity 400ms ease-in;
    max-height: 50vh; /* Altura máxima */
    overflow-y: auto; /* Desplazamiento vertical */
    overflow-x: hidden;
  }
  
  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px; /* Espacio desde la derecha */
    top: 10px; /* Espacio desde la parte superior */
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    z-index: 100000; /* Asegura que esté sobre la barra de desplazamiento */
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
  }
  
  .close:hover {
    background: #466B00;
  }
  
  @media (max-width: 768px) {
    .site-footer {
      flex-direction: column; /* Apila las secciones en una columna */
      align-items: center; /* Centra las secciones en el eje horizontal */
      text-align: left;
      bottom:0; 
      width: 100%
    }
  
    .footer-section {
      margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
      margin-bottom: 20px; /* Añade un margen inferior entre las secciones */
      text-align: center;
    }
  
    .social-links li {
      display: block; /* Cambia la visualización a bloque para centrar los iconos */
      margin: 10px 0; /* Añade un margen vertical entre los iconos */
    }
  }
  
  @media (max-width: 480px) {
    .footer-section {
      flex: 1 1 100%; /* Asegura que cada sección ocupe el 100% del ancho */
      text-align: center;
    }
  
    .footer-section h3 {
      font-size: 16px; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
    }
  
    .footer-section p, .footer-section a {
      font-size: 12px; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
    }
  
    .modalDialog > div {
      width: 90%; /* Ajusta el ancho del modal para pantallas muy pequeñas */
    }
  }
  
  /*FIN FOOTER*/
  

/* Responsive Design */
@media (max-width: 768px) {
    .contact-details {
        flex-direction: column;
    }

    .contact-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    .contact-form form {
        padding: 0 10px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
