body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71B200;
    overflow-x: hidden;
}

/*INICIO NAV BAR*/

/* Estilos generales para el encabezado */
header {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7BC200;
  padding: 10px 30px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 80%; 
}

.logo img {
  height: 40px;
}

/* Estilos para la lista de navegación */
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
  position: relative; /* Necesario para que el submenú se posicione en relación al padre */
}

ul li a {
  color: #314a00;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bolder;
}

ul li a:hover {
  color: lightgreen;
}

/* Estilos para el botón del menú hamburguesa */
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Estilos para el submenú */
.dropdown .dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 20px; /* Coloca el submenú justo debajo del elemento padre */
  left: 0;
  background-color: #7BC200; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown .dropdown-menu li {
  margin: 0; 
}

.dropdown .dropdown-menu a {
  color: #314a00;
  padding: 10px 20px; /* Espacio interno en los enlaces del submenú */
  display: block; /* Hace que los enlaces ocupen todo el ancho disponible */
  transition: background-color 0.3s ease;
}

.dropdown .dropdown-menu a:hover {
border-radius: 8px;
  background-color: #314a00; /* Color de fondo al pasar el ratón */
}

/* Mostrar el submenú cuando se pasa el mouse por encima del .dropdown o .dropdown-menu */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Muestra el submenú */
}

/* Para asegurar que el submenú se mantenga visible al interactuar */
.dropdown-menu:hover {
  display: block;
}

.nav-links a:hover {
  color: white; /* Cambia el color al pasar el ratón por encima */
}

/* Estilos para el visor de tarifas */
#visorTarifas {
  display: none;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-height: 80%; /* Limita la altura máxima para evitar que la ventana sea demasiado grande */
  overflow: auto; /* Permite el desplazamiento cuando la imagen es más grande que el contenedor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

#visorTarifas img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

#visorTarifas .cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#visorTarifas button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

#visorTarifas::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    border-radius: 100px 0px 0px 100px;
    position: fixed;
    top: 80px;
    right: -100%;
    background-color:#7BC200;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 10000;
  }

  ul li {
    margin: 20px 0;
    text-align: center;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .dropdown .dropdown-menu {
    display: none;
    position: relative;
    top: 0px;
    right: 0px;
    box-shadow: none;
    border-radius: 0%;
  }
  
  .dropdown .dropdown-menu li {
    margin: 0; 
  }
  
  .dropdown .dropdown-menu a {
    color: #314a00;
    display: block; 
    transition: none;
  }
  
  .dropdown .dropdown-menu a:hover {
    border-radius: none;
    background-color: #466B00; 
    transition: 0.3s;
  }
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/*FIN NAV BAR*/

/*INICIO CONTENIDO*/

.content{
  margin: 0;
  padding: 0;
  height: 150vh;
}

.container {
    padding-top: 150px;
  }
  
  .container img {
    padding: 100px 0px 0px 350px;
    height: 700px;
    z-index: 1000;
  }

  .rectangulo {
    width: 810px;
    height: 390px;
    flex: 1;
    top: -800px;
    left: 1130px;
    background-color:#81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 1000px 0px 0px 1000px;
  }

  .texto {
    position: absolute;
    bottom: 50px;
    right: 200px;
    color: #314A00;
    font-size: 50px;
    text-align: right;
    font-style: oblique;
    font-family: 'Tisa Sans Pro', sans-serif;
  }

  .texto h2{
    color: white;
    margin: 0;
    font-size: 90px;
    font-family: 'Tisa Sans Pro', sans-serif;
  }

  .rectangulo2 {
    width: 710px;
    height: 300px;
    flex: 1;
    bottom: 750px;
    left: 1350px;
    background-color: #81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 1000px 0px 0px 1000px;
  }

  .texto2 {
    position: absolute;
    bottom: 90px;
    right: 350px;
    color: #314A00;
    font-size: 39px;
    text-align: right;
    font-style: oblique;
  }

  .rectangulo3 {
    z-index: 2;
    width: 710px;
    height: 100px;
    flex: 1;
    top: -1550px;
    right: 440px;
    background-color: #81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 0px 1000px 1000px 0px;
  }

  .rectangulo4 {
    z-index: -1;
    width: 910px;
    height: 250px;
    flex: 1;
    top: -1550px;
    right: 290px;
    background-color: #81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 0px 1000px 1000px 0px;
  }

  .rectangulo5 {
    z-index: -1;
    width: 810px;
    height: 360px;
    flex: 1;
    bottom: 1390px;
    right: 610px;
    background-color: #81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 0px 1000px 1000px 0px;
  }

  .rectangulo6 {
    z-index: -1;
    width: 810px;
    height: 100px;
    flex: 1;
    bottom: 1300px;
    right: 350px;
    background-color: #81DB00;
    position: relative;
    overflow: hidden;
    transform: rotate(-15deg);
    transform-origin: top right;
    border-radius: 0px 1000px 1000px 0px;
  }

  @media (max-width: 768px){
    .content{
      overflow: hidden;
      height: 125vh;
    }
    .container {
      padding-top: 200px;
      width: 100%;
    }
    
    .container img {
      padding: 0px 50px 0px 10%;
      height: 500px;
      z-index: 1000;
      justify-content: center;
      align-items: center;
    }

    .rectangulo {
      width: 490px;
      height: 200px;
      left: 300px;
      top: -150px;
    }
  
    .texto {
      bottom: 0px;
      right: 160px;
      font-size: 30px;
    }
  
    .texto h2{
      font-size: 60px;
    }
  
    .rectangulo2 {
      width: 710px;
      height: 120px;
      bottom: 190px;
      left: 400px;
    }
  
    .texto2 {
      bottom: 31px;
      right: 500px;
      font-size: 20px;
    }
  
    .rectangulo3 {
      width: 710px;
      height: 60px;
      top: -950px;
      right: 590px;
    }
  
    .rectangulo4 {
      width: 910px;
      height: 200px;
      top: -920px;
      right: 720px;
    }
  
    .rectangulo5 {
      display: none;
    }
  
    .rectangulo6 {
      width: 810px;
      height: 50px;
      bottom: 280px;
      right: 550px;
    }
  }

@media (max-width: 480px) {
  .content{
    overflow: hidden;
    height: 125vh;
  }
  .container {
    padding-top: 200px;
    width: 100%;
  }
  
  .container img {
    padding: 0px 50px 0px 10%;
    height: 300px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .rectangulo {
    width: 490px;
    height: 200px;
    left: 0px;
    top: -50px;
    overflow-x: hidden;
  }

  .texto {
    bottom: 0px;
    right: 160px;
    font-size: 30px;
  }

  .texto h2{
    font-size: 60px;
  }

  .rectangulo2 {
    width: 710px;
    height: 120px;
    bottom: 100px;
    left: 100px;
    overflow-x: hidden;
  }

  .texto2 {
    bottom: 31px;
    right: 500px;
    font-size: 20px;
  }

  .rectangulo3 {
    width: 710px;
    height: 40px;
    top: -780px;
    right: 590px;
  }

  .rectangulo4 {
    width: 910px;
    height: 150px;
    top: -760px;
    right: 720px;
  }

  .rectangulo5 {
    display: none;
  }

  .rectangulo6 {
    width: 810px;
    height: 50px;
    bottom: 100px;
    right: 550px;
  }
}

/*FIN CONTENIDO*/

/*INICIO FOOTER*/

.site-footer {
  background-color: #7BC200;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Permitir que las secciones se envuelvan en múltiples líneas */
  justify-content: space-between;
  color: #ffffff;
  text-align: center; 
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  min-width: 200px; /* Asegura que las secciones no se vuelvan demasiado pequeñas */
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p, .footer-section a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.social-links {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li a {
  color: #ffffff;
  text-decoration: none;
}

.social-links li a:hover {
  text-decoration: underline;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 80%; /* Reduce el ancho para pantallas pequeñas */
  max-width: 500px; /* Máximo ancho en pantallas grandes */
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  background: #7BC200;
  transition: opacity 400ms ease-in;
  max-height: 50vh; /* Altura máxima */
  overflow-y: auto; /* Desplazamiento vertical */
  overflow-x: hidden;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 10px; /* Espacio desde la derecha */
  top: 10px; /* Espacio desde la parte superior */
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  z-index: 100000; /* Asegura que esté sobre la barra de desplazamiento */
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #466B00;
}

@media (max-width: 768px) {
  .site-footer {
    flex-direction: column; /* Apila las secciones en una columna */
    align-items: center; /* Centra las secciones en el eje horizontal */
    text-align: left;
    bottom:0; 
    width: 100%
  }

  .footer-section {
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
    margin-bottom: 20px; /* Añade un margen inferior entre las secciones */
    text-align: center;
  }

  .social-links li {
    display: block; /* Cambia la visualización a bloque para centrar los iconos */
    margin: 10px ; /* Añade un margen vertical entre los iconos */
  }
}

@media (max-width: 480px) {
  .footer-section {
    flex: 1 1 100%; /* Asegura que cada sección ocupe el 100% del ancho */
    text-align: center;
  }

  .footer-section h3 {
    font-size: 16px; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
  }

  .footer-section p, .footer-section a {
    font-size: 12px; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
  }

  .modalDialog > div {
    width: 90%; /* Ajusta el ancho del modal para pantallas muy pequeñas */
  }
}

/*FIN FOOTER*/



